
body {
    background: url("../images/chemistry 2.jpg") no-repeat center;
   
}
h1{
    text-align: center;
    background-color: white;
    margin-top:20px;
    border: solid black;

}
h3{
    
    text-align: center;
    font-size: 30px; 
}
p {
    background-color: rgb(123, 197, 247);
    text-align: center;
    font-size: 16px;
}
button {
    float: center;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}   